.main_one {
    height: 90vh;
    background-image: url('../assets/money-heist-segtwbhffwy01w82.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text label {
    color: white;
}