/* .main_home {
    background-image: url('../assets/HD-wallpaper-movie-black-panther-wakanda-forever.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
} */